<style type="text/css">

    input[id^="spoiler"]{
        display: none;
        opacity: 0;
        position: absolute;
        visibility: hidden
        left:-9999px;
    }

    input[id^="spoiler"] + label {
        position: absolute;
        left:0px;
        width: 100%;
        margin: 0 auto;
        padding: 5px 20px;
        background: #000;
        color: #fff;
        text-align: left;
        font-size: 24px;
        cursor: pointer;
        transition: all .6s;
    }

    input[id^="spoiler"]:checked + label {
        /* color: #333;
        background: #ccc; */
    }

    input[id^="spoiler"] ~ .spoiler {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
        margin: 20px 0px; 
        padding: 10px; 
        background: #eee;
        border: 1px solid #ccc;
        /*transition: all .6s;*/
    }
    
    input[id^="spoiler"]:checked + label + .spoiler{
        height: auto;
        opacity: 1;
        padding: 10px;
    }
</style>
